/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    font-family: "Microsoft JhengHei", "LiGothic", "FangSong", Arial, serif;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.a2a_buttons{
    display: flex; 
    justify-content: center;
}

.a2a_buttons a{
    margin:8px;
}
/*
 * Modal
 */
.modal-content{
    background:#2a2829
}

.modal-header{
    border-bottom: 1px solid #3a3434;
}

.modal-title{
    font-size:16px
}

.close{
    color: #fff;
    text-shadow: 0 1px 0 #333;
}

.copy-link{
    background: #444;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    display: flow-root;
}

.copy-link span{
    float:left;
}
.copy-link img{
    float:right;
    width: 24px;
    margin-right: 8px;
}

.copy-link:active{
    background: #666;
}

/*
 * Header
 */
.masthead {
    padding-top: 10px;
    /* margin-bottom: 2rem; */
}

.masthead .logo {
    height: 115px;
    width: 115px;
    border: 2px solid #e9e9e9;
    border-radius: 50%;
    margin-bottom: 15px;
}
.masthead .heading{
    display: flex;
    justify-content: center;
    position: relative;
    width: 340px;
    margin: auto;
}

.masthead h3 {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

.masthead .js-openBox img{
    width: 40px;
    position: absolute;
    right: 36px;
    top: -5px;
}
/*
 * main
 */
.main {
    margin-top: 5px;
    padding: 0px 20px 0px 20px;
}

.main .btn {
    width: 100%;
    text-shadow: none;
    border: .05rem solid #fff;
    background: #FFF8ED;
    border-radius: 4px;
    color: #222;
    font-family: 'Droid Sans', 'Open Sans';
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 100px;
    padding: 14px 20px;
}

.main .btn.disabled {
    opacity: 50%;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
    position: relative;
    width: 100%;
    text-align: center;
    padding: 21px;
}

.mastfoot a img {
    width: 40px;
    margin: 15px;
}